<button mat-raised-button color="primary" routerLink="register">
  Register
</button>
<button mat-raised-button color="primary" routerLink="login">Login</button>
<button mat-raised-button color="primary" (click)="authService.logout()">
  Logout
</button>
<p>Angemeldet: {{ authService.isLoggedIn() }}</p>
<button mat-raised-button color="primary" routerLink="create-article">
  Artikel erstellen
</button>
<button mat-raised-button color="primary" routerLink="create-auction">
  Auktion erstellen
</button>
<app-article-list></app-article-list>
<app-auction-list></app-auction-list>
