.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 3vh);
  z-index: 1000;
  padding: 2vh 2vh 0;
  background-color: white;
}

.header {
  background-color: #5815A1;
  padding: 1vh;
  position: relative;
  height: 2rem;
  border-radius: 28px;
  border: 2px solid black;
}

hr {
  margin: 0;
}

.header-button {
  border-radius: 28px;
  position: absolute;
  height: 2rem;
  width: 5rem;
  font-size: 2vh;
}

.account-btn {
  position: absolute;
  right: 1vh;
}

.username {
  position: absolute;
  top: 0.7rem;
  right: 20rem;
  font-size: 20px;
  color: white;
}

.search-button {
  border-radius: 28px;
  position: absolute;
  height: 2rem;
  width: 5rem;
  font-size: 2vh;
  top: 0;
  left: 15.5rem;
}

.home-btn {
  position: absolute;
  left: 1vh;
}

:host ::ng-deep .mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 28px;
  height: 2rem;
  background-color: white;
  border-radius: 28px;
}

:host ::ng-deep .mdc-text-field--outlined .mat-mdc-form-field-infix,
.mdc-text-field--no-label .mat-mdc-form-field-infix {
  padding-top: 0.25rem;
}

.search-form {
  position: absolute;
  left: 7rem;
  width: fit-content;
}

form {
  height: 2rem;
}

.search-input {
  position: absolute;
  top: 0;
}

.auction-search-form {
  position: absolute;
  left: 30rem;
  width: fit-content;
}
