.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 3vh);
  z-index: 1000;
  padding: 2vh 2vh 0;
  background-color: white;
}

.header {
  background-color: #5815A1;
  padding: 1vh;
  position: relative;
  height: 2rem;
  border-radius: 28px;
  border: 2px solid black;
}

hr {
  margin: 0;
}

button {
  border-radius: 28px;
  position: absolute;
  height: 2rem;
  width: 5rem;
  font-size: 2vh;
}

.account-btn {
  position: absolute;
  right: 1vh;
}

.username {
  position: absolute;
  top: 0.7rem;
  right: 20rem;
  font-size: 20px;
  color: white;
}

button {}

.home-btn {
  position: absolute;
  left: 1vh;
}
