@import "@angular/material/prebuilt-themes/indigo-pink.css";
.full-width {
  width: 100%;
  margin-bottom: 16px;
}

mat-form-field {
  border-radius: 8px;
}

button {
  border-radius: 8px;
}

.img-container{
  border: 1px solid #b0b0b0;
  border-radius: 4px;
  margin-bottom: 40px;
}

.img-container:hover{
  border-color: black;
}
