<h1>Neue Auktion</h1>
<form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Name des Artikels</mat-label>
    <input
      matInput
      formControlName="articleName"
      [(ngModel)]="newAuction.articleName"
    />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Kategorie</mat-label>
    <input
      matInput
      formControlName="category"
      [(ngModel)]="newAuction.category"
    />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Auktionsende</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      [value]="newAuction.endDate"
      (dateChange)="newAuction.endDate = $event.value"
    />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Startpreis</mat-label>
    <input
      matInput
      type="number"
      pattern="[1-9]+"
      formControlName="price"
      [(ngModel)]="newAuction.bid"
    />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Bilder</mat-label>
    <input matInput type="text" formControlName="pictures" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Beschreibung</mat-label>
    <textarea
      matInput
      formControlName="description"
      [(ngModel)]="newAuction.description"
    ></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="onSubmit()" routerLink="">
    Auktion einstellen
  </button>
</form>
