<div class="account-header-container" @slideInOut>
  <div class="account-header-content"></div>
  @if (authService.isLoggedIn()) {
    <p>{{ userService.user.username }}</p>
    <hr />
    <p>Guthaben: {{ userService.user.cash || 0 | eurFormat }}</p>

    <mat-form-field appearance="outline">
      <mat-label>Geld hinzufügen</mat-label>
      <input matInput type="number" [(ngModel)]="cashToAdd" />
    </mat-form-field>

    <button
      mat-raised-button
      [disabled]="!cashToAdd || this.userService.user.cash + cashToAdd <= 0"
      color="primary"
      (click)="addCash()"
    >
      Hinzufügen
    </button>
  }
  @if (!authService.isLoggedIn()) {
    @if (isSetLogin) {
      <app-login></app-login>
    }
    @if (isSetRegister) {
      <app-register></app-register>
    }
  }
  <div class="btn-container">
    @if (!authService.isLoggedIn()) {
      <button
        mat-raised-button
        color="primary"
        (click)="isSetRegister = !isSetRegister; isSetLogin = false"
      >
        Registrieren
      </button>
      <button
        mat-raised-button
        class="register-btn"
        color="primary"
        (click)="isSetLogin = !isSetLogin; isSetRegister = false"
      >
        Login
      </button>
    }
    @if (authService.isLoggedIn()) {
      <button mat-raised-button color="primary" (click)="authService.logout()">
        Logout
      </button>
    }
  </div>
</div>
